In [ ]:
# Criação do ambiente virtual
# !python -m venv venv
# !pip3 install pandas

In [ ]:
# Ativação do ambiente virtual
from bs4 import BeautifulSoup
import pandas as pd

In [11]:
data = {'Nome': ['João', 'Maria', 'Carlos'], 'Idade': [25, 30, 22]}
pd.DataFrame(data)

     Nome  Idade
0    João     25
1   Maria     30
2  Carlos     22